node_modules
packages/*/node_modules
package-lock.json
*.tsbuildinfo
.eslintcache
.turbo
.DS_Store
.env*

dist
debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb

.cargo/config
.cargo/config.toml

.vite-inspect
vite.config.ts.*
